@page "{id}"
@model WebApplication.Pages.DeleteModel
@{
}

<h2>Delete!</h2>
<div class="alert alert-danger">
	Are you sure you want to delete @Model.Worker.FirstName @Model.Worker.LastName ?
</div>
<form method="post">
	<button type="submit" class="btn btn-danger">Yes</button>
	<a asp-page="WorkersList" class="btn btn-default">Cancel</a>
</form>